//cores

$branco: #ffffff;
$preto: #000000;
$cinza: #cecece;
$amarelo: #FFC600;
$cinzaEscuro: #333333;
$cinzaClaro: #F2F2F2;
$cinzaInput:#f7f7f7;
$verde: #008000FF;
$vermelho: #cc0707;
$azul: blue;
$azulClaro: #ADD8E6;
$azulMarinho: #0a66c2;
$azulPrincipal: #347ae3;
$rosaNeon: #FF1493;
$verdeLimao: #32CD32;
$amareloOuro: #FFD700;

//cores

//fonts
$fs75: 75px;
$fs65: 65px;
$fs60: 60px;
$fs48: 48px;
$fs44: 44px;
$fs42: 42px;
$fs40: 40px;
$fs36: 36px;
$fs35: 35px;
$fs32: 32px;
$fs30: 30px;
$fs28: 28px;
$fs26: 26px;
$fs24: 24px;
$fs22: 22px;
$fs20: 20px;
$fs18: 18px;
$fs16: 16px;
$fs14: 14px;
$fs12: 12px;
$fs10: 10px;
